.Page {
  position: fixed;
  top: 0;
  left: 150%;
  transition: all .25s;
  height: 100%;
  width: 100%;
  overflow: scroll;
  opacity: 0;
  background: black;

  &__inner {
    padding: 0 15px;
  }
}

.Page.active {
  left: 0;
  opacity: 1;
  z-index: 5
}
