#app, .App {
  display: block;
}
$size: 45px;

.background  {
  position: absolute;
  height: $size;
  width: $size;
  z-index: 200;
  background: url('../images/set/corner.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.background.tr {
  right: 0;
  transform: rotate(90deg);
}

.background.bl {
  top: calc(100% - 45px);
  right: calc(100% - 45px);
  transform: rotate(270deg);
}

.background.br {
  top: calc(100% - 45px);
  right: 0;
  transform: rotate(180deg);
}

.backgroundBar {
  width: 100%;
  height: 4px;
  background: #242017;
  z-index: 150;
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundBar.bottom {
  top: initial;
  bottom: 0;
}

.backgroundBar.right {
  left: initial;
  right: 0;
  width: 4px;
  height: 100%;
}

.backgroundBar.left {
  width: 4px;
  height: 100%;
}