html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#app, .App {
  display: block; }

.background {
  position: absolute;
  height: 45px;
  width: 45px;
  z-index: 200;
  background: url("../images/set/corner.png");
  background-size: contain;
  background-repeat: no-repeat; }

.background.tr {
  right: 0;
  transform: rotate(90deg); }

.background.bl {
  top: calc(100% - 45px);
  right: calc(100% - 45px);
  transform: rotate(270deg); }

.background.br {
  top: calc(100% - 45px);
  right: 0;
  transform: rotate(180deg); }

.backgroundBar {
  width: 100%;
  height: 4px;
  background: #242017;
  z-index: 150;
  position: absolute;
  top: 0;
  left: 0; }

.backgroundBar.bottom {
  top: initial;
  bottom: 0; }

.backgroundBar.right {
  left: initial;
  right: 0;
  width: 4px;
  height: 100%; }

.backgroundBar.left {
  width: 4px;
  height: 100%; }

.Page {
  position: fixed;
  top: 0;
  left: 150%;
  transition: all .25s;
  height: 100%;
  width: 100%;
  overflow: scroll;
  opacity: 0;
  background: white; }
  .Page__inner {
    padding: 0 15px; }

.Page.active {
  left: 0;
  opacity: 1;
  z-index: 5; }

.Battlemat__row {
  display: flex;
  justify-content: center; }

.Battlemat__column {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  background: white; }
  .Battlemat__column--oor {
    filter: brightness(75%); }

.Player {
  width: 50px;
  height: 50px;
  position: absolute;
  transition: all .5s; }
  .Player-moveActive {
    filter: brightness(125%); }
  .Player img {
    width: 40px;
    height: 40px; }
  .Player .healthbar {
    width: 40px;
    height: 2px;
    margin-left: 5px;
    position: relative;
    border: 1px solid black; }
    .Player .healthbar__inner {
      transition: all .5s;
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      background: red; }

.Enemy {
  width: 50px;
  height: 50px;
  position: absolute;
  transition: all .5s; }
  .Enemy img {
    width: 40px;
    height: 40px; }
  .Enemy .healthbar {
    width: 40px;
    height: 2px;
    margin-left: 5px;
    position: relative;
    border: 1px solid black; }
    .Enemy .healthbar__inner {
      transition: all .5s;
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      background: red; }

.OptionsBar {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  background: url("../images/set/holder.png");
  background-size: contain; }
  .OptionsBar__button {
    transition: all .25s; }
    .OptionsBar__button.character {
      position: relative;
      left: 13px; }
    .OptionsBar__button.inventory {
      position: relative;
      left: 20px; }
    .OptionsBar__button.journal {
      position: relative;
      left: 30px; }
    .OptionsBar__button:active {
      filter: brightness(50%); }

.Frame {
  width: 50px;
  height: 50px;
  background: url("../images/set/portrait-container.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: 6px; }

.Main__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .Main__wrapper__map {
    height: 50%;
    padding: 10px;
    position: relative;
    overflow: hidden; }
    .Main__wrapper__map__frameWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      position: relative;
      z-index: 150;
      width: 50px; }
    .Main__wrapper__map__mapContainer {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100; }
      .Main__wrapper__map__mapContainer .mapMarker {
        position: absolute;
        z-index: 200;
        color: white; }
        .Main__wrapper__map__mapContainer .mapMarker.tavern {
          left: 1650px;
          top: 200px;
          font-weight: 600;
          color: red; }
  .Main__wrapper__container {
    padding: 10px;
    height: 50%;
    background: url("../images/set/paperTexture.jpg");
    background-size: cover;
    position: relative; }

.Combat__section {
  height: 50vh; }

.Combat__view {
  border-bottom: 1px solid black; }
  .Combat__view__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    .Combat__view__inner__container {
      position: relative;
      margin: 0 auto; }
