html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.Page {
  position: fixed;
  top: 0;
  left: 150%;
  transition: all .25s;
  height: 100%;
  width: 100%;
  overflow: scroll;
  opacity: 0;
  background: white; }
  .Page__inner {
    padding: 0 15px; }

.Page.active {
  left: 0;
  opacity: 1;
  z-index: 5; }

.Battlemat__row {
  display: flex;
  justify-content: center; }

.Battlemat__column {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  background: white; }
  .Battlemat__column--oor {
    filter: brightness(75%); }

.Player {
  width: 50px;
  height: 50px;
  position: absolute; }
  .Player-moveActive {
    filter: brightness(125%); }

.Combat__section {
  height: 50vh; }

.Combat__view {
  border-bottom: 1px solid black; }
  .Combat__view__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    .Combat__view__inner__container {
      position: relative;
      margin: 0 auto; }
