.NPCInventory {
  background: url('../images/set/paperTexture.jpg');

  &__tabContent {
    display: flex;

    &__left {
      width: 50%;
      border: 1px solid black;
    }

    &__right{
      width: 50%;
    }
  }

  &__tabsWrapper {
    display: flex;
    text-align: center;

    &__tab {
      width: 25%;
      border: 1px solid black;
    }
  }
}