.Combat {
  &__section {
    height: 50vh;
  }

  &__view {
    border-bottom: 1px solid black;

    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      &__container {
        position: relative;
        margin: 0 auto;
      }
    }
  }
}
